.SignIn {
    background-color: #0a0a0a;
    max-width: 732px;
    width: 100%;
    color: white;
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 90px;
    padding: 62px;

    &__title {
        text-align: center;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    &__logo__link {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 35px;

        &__label {
            &__text {
                color: gray;
                font-size: 12px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            &__input {
                max-width: 540px;
                width: 100%;
                padding: 12px;
                border: none;
            }

            &__input:focus {
                outline: none;
            }
        }

        .redBtn {
            display: inline-flex;
            margin-right: auto;
            padding: 10px 50px;
        }
    }
}