.sommelierChoise {
    &__topContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 125px 0 50px 0;
    }

    &__leftContent {
        background: linear-gradient(#331111 0%, #331111 100%, #541c1c 100%);
        width: 100%;
        min-height: 290px;
        padding: 45px 0;
        text-align: center;
        color: white;

        a {
            display: block;
            text-decoration: none;
            color: white;
            font-size: 11px;
            letter-spacing: 5px;
            font-weight: 800;
            margin-top: 31px;
        }
    }

    &__bottomContent {
        padding: 0 45px 100px 45px;
        color: white;
        font-size: 12px;

        .topWrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        a {
            display: block;
            text-decoration: none;
            color: white;
            font-size: 11px;
            letter-spacing: 5px;
            font-weight: 800;
            margin-top: 50px;
        }
    }

    button {
        color: white;
        display: block;
        margin: 10px auto 0 auto;
        cursor: pointer;
        transition: color 0.3s;
    }

    button:hover {
        color: burlywood;
    }
}
