.wineCatalog {
    .container {
        padding: 75px 45px 0 45px;
        color: white;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 94px;
    }

    &__filter {
        display: flex;
        flex-direction: column;
        gap: 74px;
        max-width: 230px;

        &__checkout__content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__checkout {
            &_top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #fff;
                padding-bottom: 10px;
                margin-bottom: 10px;

                p {
                    font-size: 12px;
                }

                &__minus {
                    background-color: #7a0000;
                    padding: 5px 10px;
                }
            }

            &__label {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .wrapper {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }

                .number {
                    font-size: 9px;
                    color: gray;
                }
            }

            input[type="checkbox"] {
                appearance: none; /* убирает стандартный стиль */
                -webkit-appearance: none; /* для Safari */
                background: none; /* убирает фон */
                border: 1px solid #ccc; /* необязательный стиль рамки */
                width: 18px;
                height: 18px;
                cursor: pointer;
            }

            input[type="checkbox"]:checked {
                background-color: #a3a3a3; /* свой цвет для отмеченного состояния */
            }
        }

        &__price-filter {
            background-color: #1a1a1a;
            color: white;
            padding-top: 73px;

            &__header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;
                padding-bottom: 10px;
                border-bottom: 0.5px solid #fff;
            }

            &__label {
                font-size: 12px;
            }

            &__toggle {
                background: none;
                border: none;
                color: #8b0000;
                font-size: 20px;
                cursor: pointer;
            }

            &__inputs {
                display: flex;

                &__BorderWrapper {
                    border: 1px solid #fff;
                    display: flex;
                    align-items: center;
                }
            }

            &__input {
                width: 100%;
                background-color: #1a1a1a;
                color: #999;
                border: none;
                padding: 8px;
                outline: none;
                height: 16px;
                font-size: 9px;
            }

            &__input:first-child {
                border-right: 1px solid #fff;
                padding-right: 0;
                padding-left: 8px;
                margin-right: 10px;
            }

            &__input::placeholder {
                font-size: 9px;
                font-weight: bold;
            }

            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Для Firefox */
            input[type="number"] {
                -moz-appearance: textfield;
            }

            &__separator {
                width: 1px;
                background-color: #666;
            }

            &__ok-button {
                background-color: #8b0000;
                color: white;
                border: none;
                padding: 8px 25px;
                cursor: pointer;
                font-weight: bold;
            }
        }

        &__accordion {
            display: flex;
            flex-direction: column;
            gap: 5px;

            &_top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 25px;
                border-bottom: 1px solid #fff;
                padding-bottom: 10px;
            }
        }
    }

    &__list {
        width: 100%;

        &__cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 100%;
            gap: 82px;
        }

        &__card {
            width: 238px;
            position: relative;

            &__wine {
                width: 100%;
                display: flex;
                justify-content: space-between;
                z-index: 5;

                &__blackDecor {
                    background-color: #0a0a0a;
                    position: absolute;
                    top: 12%;
                    z-index: 1px;
                    height: 275px;
                    width: 100%;
                }
            }

            &__wineImage {
                display: flex;
                align-self: center;
                margin: 0 auto;
                z-index: 5;
                transition: all 0.1s ease-in-out;
            }

            &__wineImage:hover {
                width: 110px;
            }

            &__title {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 20px;
                letter-spacing: 2.5px;
            }

            &__year {
                font-size: 7px;
                font-weight: 600;
                letter-spacing: 3px;
                margin-bottom: 5px;
            }

            &__country {
                font-size: 7px;
                font-weight: 600;
                letter-spacing: 3px;
                margin-bottom: 5px;
            }

            &__priceAndCart {
                font-size: 7px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;
            }

            &__price {
                font-weight: 700;
                letter-spacing: 3px;

                p {
                    color: gray;
                    margin-bottom: 2px;
                }

                div {
                    font-size: 11px;
                }
            }

            .redBtn {
                padding: 8px 13px;
            }
        }

        .dropdowns {
            display: flex;
            justify-content: space-between;
            padding-bottom: 60px;

            .wrapper {
                display: flex;
                gap: 40px;
            }
        }

        .dropdown select {
            background-color: #1b1918;
            color: #fff;
            border: none;
            padding: 5px 10px 5px 7px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            font-size: 14px;
            cursor: pointer;
            position: relative;
        }

        .dropdown select:focus {
            outline: none;
        }

        .dropdown option:focus {
            outline: none;
        }

        .dropdown {
            position: relative;
        }

        .dropdown::after {
            content: "▼";
            position: absolute;
            right: -5px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            color: #fff;
            font-size: 12px;
        }
    }
}
