.blogitemDetails {
    color: white;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 1.1px;

    .container {
        padding: 45px;

        a {
            color: white;
            text-decoration: none;
        }
    }
}